html, body {
    width: 100%;
    height: 100%;
    background-color: #32222d;
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

p {
    margin: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.head-top {
    background-color: #fff;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.head-top__wrap {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    color: #32222d;
}
.head-top__mode-wrap span {
    color: #80a112;
    font-weight: bold;
}
.head-top__title {
    font-size: 28px;
    color: #80a112;
    font-weight: bold;
    text-align: center;
}
.head-top__mode-wrap, .head-top__adress-wrap {
    align-self: flex-end;
}

/*header back-call*/
.header-b-call {
    margin-top: 20px;
}
.header-b-call__info-list {
    background-color: #4b3647;
    padding: 30px 60px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.header-b-call__item > p{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}
.header-b-call__item-link {
    text-decoration: none;
    color: #fff;
    transition: .4s;
}
.header-b-call__item-link:hover {
    color: #e1aa28;
}
.header-b-call__item-link--green {
    color: #80a112;
    text-decoration: underline;
}
.btn{
    padding: 15px 0;
    background-color: #80a112;
    display: block;
    text-transform: uppercase;
    text-align: center;
}
.header-b-call__item--tel >p, .header-b-call__item--mail >p {
    margin-bottom: 15px;
}
.right-border {
    height: 70px;
    width: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 3;
}
.btn:hover {
    background: #e1aa28;
    color: #32222d;
}

/*menu*/
.menu__list {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.menu__item {
    list-style: none;
    display: flex;
    height: 37px;
    align-items: baseline;
    line-height: 37px;
}
.menu__item-link {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
    min-height: 37px;
    text-align: center;
    padding: 0 20px;
}
.menu__item-link:hover {
    background-color: #80a112;
}
    /*bg*/
.bg {
    background: url("../img/bg.jpg");
    min-height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 89%;
}
.bg-wrap {
    margin-bottom: 30px;
}
.main-slider {
    position: relative;
}
.main-slider__slide-img-wrap {
    height: 300px;
    width: 100%;
    overflow: hidden;
    display: block;
}
.main-slider__slide-img-wrap > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.main-slider__slide-btn-next {
   right: 123px;
    outline: none;
    transition: .4s;
}
.main-slider__slide-btn-prev {
    left: 123px;
    outline: none;
}
.main-slider__slide {
    display: block;
}

.main-slider__slide-link {
    text-decoration: none;
    color: #32222d;
    display: block;
    padding: 20px 0;
    transition: .4s;
    font-weight: bold;
}
.main-slider__slide-link:hover {
    color: #80a112;
}
.main-slider {
    margin-bottom: 15px;
}

/*garantee*/
.garantee-wrap {
    margin-bottom: 30px;
}
.garantee__inner {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background-color: #80a112;
    position: relative;
    color: #ffffff;
}
.garantee__text {
    flex-basis: 28%;
}
.garantee__text-info {
    font-size: 24px;
    margin-bottom: 20px;
}
.garantee__text-desc {
    line-height: 22px;
}
/**/

.quality {
    color: #fff;
}
.quality__info {
    font-size: 24px;
    margin-bottom: 30px;
}
.quality__desc {
    line-height: 23px;
}
.quality__list {
    margin: 0;
    margin-bottom: 30px;
}
/*supliers*/
.suppliers {
    position: relative;
    margin-bottom: 30px;
}
.suppliers__container {
    background-color: #4b3647;
    padding: 40px 0;
}
.suppliers-slider__slide-img-wrap {
    height: 100px;
    width: 120px;
    overflow: hidden;
    display: block;
}
.suppliers-slider__slide-img-wrap > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.suppliers__slide-btn-next {
    right: 123px;
    outline: none;
    transition: .4s;
}
.suppliers__slide-btn-prev {
    left: 123px;
    outline: none;
}
.suppliers__slide {
    display: block;
}
/*footer*/
.head-top__logo-wrap--order {
    order: -1;
}
.head-top__mode-wrap--order{
    order: 1;
}
.header-b-call__item-link--black {
    color: #32222d;
}

/*production.html*/
.section-wrap {
    margin-bottom: 97px;
}
.menu-aside__l-i {
    list-style: none;
    padding: 10px 0;
}
.aside {
    background-color: #4b3647;
    width: 42%;
    margin-right: 120px;
    height: 560px;
    max-width: 310px;
}
.section-wrap{
    display: flex;
}
.main__items-wrap {
    display: flex;
    width: 780px;
    flex-wrap: wrap;
   justify-content: center;
}
.menu-aside__l-i-link {
    color: #fff;
    text-decoration: none;
    transition: .4s;
    margin: 0;
    padding: 10px 0 10px 0;
}
.menu-aside__l-i-link:hover {
    color: #e1aa28;
}
.menu-aside__l {
    padding: 0;
    /*padding-left: 60px; */
    padding: 0 10px 0 20px;
}
.submenu-aside__l-i {
    padding: 7px 0;
    list-style: none;
}
.submenu-aside__l-i-link {
    /*text-decoration: none;*/
    color: #fff;
    font-size: 14px;
    transition: .4s;
}
.submenu-aside__l-i-link:hover {
    color: #e1aa28;
    text-decoration: none;
}
.main-header {
    font-size: 24px;
    margin-bottom: 30px;
    color: #fff;
}
.main__item {

    margin-right: 40px;
    /*display: flex;*/
    /*background-color: #4b3647;*/
    /*text-align: center;*/
    /*width: 197px;*/
    /*height: 100px;*/
    /*box-shadow: 0 3px 5px #a7a9aa;*/
    /*margin-right: 30px;*/
    /*margin-bottom: 40px;*/
    /*padding: 10px;*/
    /*text-decoration: none;*/
}
.main__item span {
    color: #fff;
    padding-top: 30px;
    width: 100%;
}
.main__item-img {
    width: 100%;
}
.main__item-inner {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
}
.menu-aside__l-i-link {
    cursor: pointer;
}
.main__item:hover {
    box-shadow: none;
    transition: .3s;
}

.tab-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}
.tab-menu {
    display: flex;
    list-style-type: none;
}
.tabs-content {
    width: 100%;
    position: relative;
}
.main-wrap {
    position: absolute;
}
.tabs-content > div {
    opacity: 0;
    transition: all 0.5s ease-in;
}
.tabs-content > div:nth-child(1) {
    opacity: 1;
}
.main-wrap {
    position: absolute;
}

/*style for gallery*/
.production-gallery {

}
.production-gallery__row1, .production-gallery__row2 {
    display: flex;
}
.production-gallery__row1-el {
    max-width: 300px;
}
.production-gallery__row1-el > img {
    width: 100%;
}
.production-gallery__wrap {
    opacity: 0;
    transition: all 0.5s ease-in;
}
.production-gallery__wrap:nth-child(1) {
    opacity: 1;
}

/*services*/
.services-wrap {
    color: #fff;
}
.services-wrap p {
    margin-bottom: 20px;
}
.services__block-right {
    display: flex;
    margin-bottom: 30px;
}
.services__block-right p {
    margin-right: 30px;
}
.services__block-left p {
    margin-left: 30px;
}
.services__block-right  span{

}
.services-fs {
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
    color: #80a112;
    font-weight: bold;
}
.services__block-left {
    display: flex;
}
.services__block-left {
    margin-bottom: 30px;
}
.services__img-wrap img{
    width: 260px;
}
/*reviews*/
.reviews-wrap {
    color: #fff;
}
.reviews__img-wrap {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}
.reviews__img-wrap img {
    width: 100%;
    position: absolute;
    height: 100%;
}
.reviews__inner p:nth-child(2) {
    text-align: right;
}
.reviews__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.reviews__inner-el {
    position: relative;
    flex-basis: 43%;
    padding: 20px;
    line-height: 25px;
}
.reviews__inner-el--border {
    border: 1px solid #4b3647;
}
.reviews__inner-el--border:before, .reviews__inner-el--border:after  {
    content: '';
    position: absolute;
    display: block;
    width: 28px;
    height: 18px;
    background-size: cover;
}
.reviews__inner-el--border:before {
    background-image: url(../img/coma.png);
    top: -12px;
    display: none;
}
.reviews__inner-el--border:after {
    background-image: url("../img/stars_empty.png");
    bottom: -9px;
    right: 20px;
    width: 130px;
    height: 20px;
}
/*contacts*/
.contacts {
    color: #fff;
    line-height: 25px;
    font-size: 14px;
}
.contacts p {
    margin-bottom: 20px;
}
.contacts p:last-child {
    margin-bottom: 60px;
}
.contacts__second a {
    text-decoration: none;
    color: #fff;
    transition: .2s;
}
.contacts__second a:hover {
    color: #e1aa28;
}
.contacts__second-tel--velcom, .contacts__second-tel--mts {
    position: relative;
}
.contacts__second-tel--velcom a {
    padding-left: 35px;
}
.contacts__second-tel--velcom:before {
    background-image: url("../img/velcom.png");
    position: absolute;
    content: '';
    display: block;
    width: 25px;
    height: 19px;
    background-size: contain;
}
.contacts__second-tel--mts:before {
    background-image: url("../img/mts.png");
    position: absolute;
    content: '';
    display: block;
    width: 25px;
    height: 19px;
    background-size: cover;
}
.contacts__second-tel--mts  a{
    padding-left: 36px;
}
.contacts__second-email:before {
    background-image: url("../img/email-icon.png");
    position: absolute;
    content: '';
    display: block;
    width: 25px;
    height: 20px;
    background-size: cover;
}
.contacts__second-email a {
    padding-left: 36px;
}
.contacts__second-skype:before {
    background-image: url("../img/skype-icon.png");
    position: absolute;
    content: '';
    display: block;
    width: 25px;
    height: 24px;
    background-size: cover;
}
.contacts__second-skype p {
    padding-left: 36px;
}
.contacts__second div {
    margin-bottom: 16px;
}
.contacts__map iframe {
    width: 100%;
}